@charset "UTF-8";

:root {
    --cor001: #44A64A;
    --cor002: #2A8C39;  
    --cor003: #D93644;
    --cor004: #403837;
    --cor005: #0D0D0D;
    --cor006: #e6e6e6;
}

/* inicio da estilização gerais */

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--cor006);
}

main {
    margin: 0 auto;
    width: 70vw;
    background-color: #ffffff;
    border: 1px solid var(--cor001);
    border-top: none;
    box-shadow: 0px 2px 10px #44a64b61;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 97vh;
}

h1 {
    margin-top: 20px;
    color: var(--cor005);
    font-size: 2em;
    font-weight: normal;
}

/* fim da estilização gerais */

/* inicio da estilização da seção dos cardápios */

.slider {
    margin-top: 40px;
    width: 80%;
    height: 450px;
    overflow: hidden;
}

.slides {
    width: 500%;
    height: 450px;
    display: flex;
}

.slides input[type=radio]{
    display: none;
}

.slide {
    width: 20%;
    transition: 1s;
}

.slide img {
    width: 100%;
    height: 450px;
}

.navegation-manual {
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.manual-btn {
    border: 2px solid #2a8c3976;
    padding: 8px;
    width: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #2a8c3976;
}

#radio1:checked ~ #slide-first {
    margin-left: 0;
}

#radio2:checked ~ #slide-first {
    margin-left: -20%;
}

#radio3:checked ~ #slide-first {
    margin-left: -40%;
}

#radio4:checked ~ #slide-first {
    margin-left: -60%;
}

.div_download {
    width: 100%;
    padding-top: 40px;
}

.btn_download {
    position: relative;
    display: inline-flex;
    margin-left: 50px;
    padding: 5px 10px 0 10px;
    border-bottom: 1px solid #0d0d0d4c;
    transition: all .5s;
}

.btn_download:hover {
    border-bottom: 1px solid var(--cor001);
}

.btn_download:hover ul {
    display: block;
}

.btn_download ul {
    display: none;
    top: 105%;
    width: 150px;
    position: absolute;
    background-color: transparent;
    border: 1px solid #eeeeee;
    list-style: none;
    box-shadow: 0px 0px 5px #0d0d0d3e;
}

.btn_download ul li a {
    display: block;
}

.btn_download ul li a {
    padding: 10px 20px;
    color: #0D0D0D;
    text-decoration: none;
    transition: all .5s;
}

.btn_download a:hover {
    background-color: #eeeeee;
}

/* fim da estilização da seção dos cardápios */

/* estilização da seção de marcar as quentinhas */

.secao_quentinha {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 70vh;
}

form, div.dias_semana, div.dia {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    font-size: 1em;
}

div.dias_semana {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

div.dia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

label, input.checkbox {
    cursor: pointer;
}

input.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid var(--cor002);
    border-radius: 5px;
}

input.checkbox:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    top: 1px;
    border-right: 3px solid var(--cor001);
    border-bottom: 3px solid var(--cor001);
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

input.checkbox:checked:before {
    opacity: 1;
}

input.checkbox:focus {
    box-shadow: 0px 0px 8px var(--cor002);
}

div.div_button {
    display: flex;
    align-items: center;
    justify-content: end;
}

input[type="submit"] {
    background-color: var(--cor001);
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

input[type="submit"]:hover {
    background-color: var(--cor002);
    box-shadow: 0px 0px 10px #0d0d0d39;
}

/* fim da seção de marcar as quentinhas */

/* estilização da seção de comentário */

form.form_coment {
    width: 80%;
}

input[type="text"] {
    width: 80%;
    font-size: medium;
    margin: 10px 0;
    padding: 5px;
    padding-bottom: 0;
    border: none;
    border-bottom: 1px solid gray;
    transition: all .3s
}

input[type="text"]:focus {
    outline: none;
    border-bottom: 1px solid var(--cor002);
}

/* fim da seção de comentário */