@charset "UTF-8";

:root {
    --cor001: #44A64A;
    --cor002: #2A8C39;
    --cor003: #D93644;
    --cor004: #403837;
    --cor005: #0D0D0D;
    --cor006: #f5f5f5;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 97vh;
}

main {
    margin: auto;
    width: 800px;
    background-color: var(--cor006);
    border: 2px solid var(--cor001);
    border-top: none;
    border-radius: 0px 0px 20px 20px;
    box-shadow: 0px 0px 5px var(--cor002);
}

section {
    height: 80vh;
}

.secao_quentinha {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    height: 70vh;
}

.secao_quentinha h1 {
    color: var(--cor005);
    font-size: 2em;
    font-weight: normal;
}

form, div.dias_semana, div.dia {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 60px;
    font-size: 1em;
}

div.dias_semana {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

div.dia {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
}

label, input.checkbox {
    cursor: pointer;
}

input.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 10px;
    appearance: none;
    width: 22px;
    height: 22px;
    border: 2px solid var(--cor002);
    border-radius: 5px;
}

input.checkbox:before {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    top: 1px;
    border-right: 3px solid var(--cor001);
    border-bottom: 3px solid var(--cor001);
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

input.checkbox:checked:before {
    opacity: 1;
}

input.checkbox:focus {
    box-shadow: 0px 0px 8px var(--cor002);
}

div.div_button {
    display: flex;
    align-items: center;
    justify-content: end;
}

input.button_save {
    background-color: var(--cor001);
    padding: 12px;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s;
}

input.button_save:hover {
    background-color: var(--cor002);
    box-shadow: 0px 0px 10px #0d0d0d39;
}