@charset "UTF-8";

:root {
    --cor001: #44A64A;
    --cor002: #2A8C39;
    --cor003: #D93644;
    --cor004: #403837;
    --cor005: #0D0D0D;
    --cor006: #e6e6e6;
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    justify-content: center;
    background-color: var(--cor006);
    height: 100vh;

}

body, div#opc {
    display: flex;
    align-items: center;
}

div#opc {
    justify-content: space-evenly;
    background-color: #ffffff;
    width: 800px;
    height: 400px;
    padding: 50px 10px 50px 10px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px #44a64b67;
    border: 1px solid var(--cor002);
}

div#img {
    background-color: transparent;
    background-image: url('../images/ifpb-logo100.png');
    background-repeat: no-repeat;
    background-position: center center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

#div_links button{
    background-color: #ffffff;
    border: 1px solid var(--cor001);
    padding: 10px;
    width: 250px;
    margin: 10px 0px;
    border-radius: 20px;
    font-size: 17px;
    transition: all 0.3s;
    cursor: pointer;
}

#div_links button:hover {
    border: 1px solid var(--cor002);
    background-color: var(--cor001);
    color: white;
    box-shadow: 0px 0px 7px var(--cor002);
}