@charset "UTF-8";

:root {
    --cor001: #44A64A;
    --cor002: #2A8C39;
    --cor003: #D93644;
    --cor004: #403837;
    --cor005: #0D0D0D;
    --cor006: #e6e6e6;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid var(--cor002);
    padding: 30px 50px;
}

button {
    background-color: transparent;
    padding: 15px 22px;
    border: 1.5px solid var(--cor002);
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: var(--cor001);
    color: white;
    box-shadow: 0px 0px 7px var(--cor002);
}